<% @countries.each do |country| %>
  <%= country.name %> has a population of <%= country.population %>

  <a href="#" style="text-decoration:none !important; text-decoration:none;"><%= link_to("Show #{country.name}", country_path(country) ) %></a>

  <%= button_to('Destroy Country', country_path(country), method: :delete, data: {confirm: 'Destroy them? Are you sure?'}) %>

  <a href="#" style="text-decoration:none !important; text-decoration:none;"><%= link_to('Edit Country', edit_country_path(country)) %></a>
  <br>
<% end %>